td.underL{
background-image:url('/style/system/tabwidget/mlU.png');
background-repeat:no-repeat;
height:24px;
}
td.under{
background-image:url('/style/system/tabwidget/mmU.png');
background-repeat:repeat-x;
height:24px;
}
td.underline{
background-image:url('/style/system/tabwidget/mul.png');
background-repeat:repeat-x;
}
td.underR{
background-image:url('/style/system/tabwidget/mrU.png');
background-repeat:no-repeat;
height:24px;
}
 td.over{
background-image:url('/style/system/tabwidget/mmO.png');
height:25px;
background-repeat:repeat-x;
}
td.overL{
background-image:url('/style/system/tabwidget/mlO.png');
background-repeat:no-repeat;
height:25px;
}
td.overR{
background-image:url('/style/system/tabwidget/mrO.png');
background-repeat:no-repeat;
height:25px;
}
td.line{
background-image:url('/style/system/tabwidget/mul.png');
}
td.tabwidgetBody{
background-color:#fff;
}
td.menuHeader{
background-color:#fff;
}